<a href="/">Bulletin Board</a>

<hr>

<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>
    
    <hr>

    <div>
      <h2>Add a new post</h2>

      <form action="/insert_post" method="post">
        <div>
          <input id="post_boardid" type="hidden" name="board_id" value=<%=@the_board.id%> >
        </div>

        <div>
          <label for="post_title">Title</label>
          <input id="post_title" name="query_title">
        </div>
        
        <div>
          <label for="post_body">Body</label>
          <textarea id="post_body" name="query_body" rows=3></textarea>
        </div>
        
        <div>
          <label for="post_expiry">Expires on</label>
          <input type="date" id="post_expiry" name="query_expires_on">
        </div>

        <button>Add post</button>
      </form>

    </div>

    
  </div>
</div>

<hr>

<h2>Active posts</h2>

<table border=1>
  <tbody>
    <tr>
      <th>
        Title
      </th>

      <th>
        Body
      </th>

      <th>
        Posted on
      </th>

      <th>
        Expires on
      </th>
    </tr>

    <% @the_boardposts_active.each do |post| %>

      <tr>
        <td> <%= post.title %> </td>
        <td> <%= post.body %> </td>
        <td> <%= post.created_at.strftime("%b %d, %Y") %> </td>
        <td> <%= post.expires_on.strftime("%b %d, %Y") %> </td>
      </tr

    <% end %>
  </tbody>
</table>

<h2>Expired posts</h2>

<table border=1>
  <tbody>
    <tr>
      <th>
        Title
      </th>

      <th>
        Body
      </th>

      <th>
        Posted on
      </th>

      <th>
        Expires on
      </th>
    </tr>

    <% @the_boardposts_expired.each do |post| %>

      <tr>
        <td> <%= post.title %> </td>
        <td> <%= post.body %> </td>
        <td> <%= post.created_at %> </td>
        <td> <%= post.expires_on %> </td>
      </tr

    <% end %>
  </tbody>
</table>
